* {
    margin: 0;
    padding: 0;
    background-color: seashell;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  header {
   height: 20vh;
   background-size: cover;
   background-position: center;
  }
  
  #header-img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    border-radius: 30px;
    margin-top: 10px;
  }
  
  
  ul {
    float: right;
    list-style-type: none;
    margin-top: -100px;  
  }
  
  ul li{
    display: inline-block;
  }
  
  ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
  }
  #form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  margin-top: 0;
  }
   #hero  h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }
  
  #email {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
  }
  
  #submit {
    width: 100%;
    height: 30px;
    max-width: 150px;
    margin: 15px 0;
    border: 0;
    background-color: #fc8484;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  #submit:hover {
    background-color: #90868680;
    transition: 0.5s;
  }
  
  #features {
      margin-top: 30px;
  }

  .grid {
      display: flex;
  }